/* lato-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/lato-v24-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* lato-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/lato-v24-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* lato-900 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/lato-v24-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/*подключение обязательно border-box */
html{
box-sizing: border-box;
}
*,*::before,*::after{
    box-sizing: inherit;
}
body{
    /* чтобы сохранялись свойства когда мы что то изменяем */
    font-family: 'Lato';
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #102746;

}
img{
    max-width: 100%;/*это для того чтобы изображение не привышало размеры контейнера */
    height: auto;/*чтобы картинка сжималась по высоте */
}
.wrapper {
    /*померяли и вписали ширену блока */
    max-width: 1060px;
    /*выравнивает в нутри его радителя по центру */
    margin: 0 auto;
    padding: 0 15px;

}
.wrapper-full{
    max-width: 1262px;
    margin: 0 auto;
}
.section-title{
    font-size: 35px;
    font-weight: 500;
    line-height: 42px;
    position: relative;
   padding-bottom: 10px;
}
.section-title::after{
    display: block;
    content: '';
    width: 253px;
    height: 3px;
    background-color: #006DFE;
    position: absolute;
    bottom: 0;
    left: 0;
}

/* Header styles start */

.header{
    /*зафиксировать шапку */
    position: fixed;
    top: 0;
    left: 0;
    /* ширина */
    width: 100%;
    /*плавный переход*/
    transition: 0.2s linear ;
    padding-bottom: 20px;
    z-index: 999;
}
.header_active{
    background: #0E1D28;
}
.header_wrapper{
    display: flex;
    flex-wrap:wrap;/*чтобы контейнеры не заежали друг на друга*/
    align-items: flex-end;/*чтобы выравнивались по низу контейнера */
    justify-content:space-between;  /*выравнивает по краям контейнера наши елементы*/
    /*отступ внутри сверху*/
    padding-top: 56px;
}
.header_list{
    display: flex;
    flex-wrap: wrap;
}
.header_item{
    margin-right: 82px;/*отступы с права */
}
/*псевдо селектор last-child последний дочерний элемент внутри нашего списка */
.header_item:last-child{
margin-right: 0;/*обнуляем отступ с права */
}
 /*стилизуем links */
.header_link{
    color: #FFF;
    font-size: 18px;
    line-height: 24px; /* 133.333% */
    text-decoration: none;
}
/*стили при навидении на ссылки */
.header_link:hover,.header_link:focus,.header_link:active{
opacity: 0.75;
}
/* Header styles end */
/* intra styles start */

.intro{
    min-height: 100vh;/* минимаьная высота для блока */
    background: url("/img/intro-bg.jpg") no-repeat center;/*путь к картинке*/
    background-size: cover ;/*картинка полностью будет покрывать наш блокпри любых его размерах*/
    padding-top: 263px;/*верхний отступ*/
    padding-bottom: 223px;
}
.intro_title{
    max-width: 619px;
    color: #FFF;
    font-size: 50px;
    font-weight: 500;
    line-height: 60px;
    margin-bottom: 22px;
}
.intro_subtitle{
    max-width:546px;
    color: #FFF;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 59px;
}
/* intra styles end */

/*search-form styles start*/
.search-form_info{
    /*чтобы избавиться от пробелов*/
    display: flex;
    flex-wrap: wrap;
}
.search-form_field{
    width: 297px;
    background:transparent url("/img/circle-ico.svg") no-repeat left 6px;
    background-size: 20px ;
    border: 0;
    border-bottom:2px solid #BFC0C5;
    margin-right: 60px;
    padding-left: 43px;
    padding-bottom: 22px;
    font-weight: 500;
    font-size: 18px;
    color: #FFF;
}
.search-form_field::placeholder{
    font-weight: 500;
    font-size: 18px;
    color: #FFF;
}
.search-form_submit{
    padding:15px 39px ;
    text-transform: uppercase;
    background: #1B7DFF;
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    border: 0;
}
.search-form_submit:hover, .search-form_submit:focus, .search-form_submit:active{
    background: #136de5;

}

/*search-form styles end*/

/*benefits styles start */
.benefits{
    margin-bottom: 131px;
    margin-top: 131px;
}
.benefits_wrap{
    max-width: 1262px;/*фиксированая ширина*/
    background-color: #FFF;
    margin: 0 auto;/*наружный отступ*/
    box-shadow: 0 2px 20px  rgba(21, 24, 36, 0.15993);
    position: relative;

}
.benefits_title {
    width: 100%;
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    padding: 93px 100px 88px 100px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    background-color: #FFF;

}
.benefits_cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap:55px ;
    padding: 0 100px;

}
.benefits_card{
    grid-column: span 1;/*карточки будут занимать по одной колонке */
    margin-bottom: 112px;
}
.benefits_card-pic{
    max-width: 66px;
    margin-bottom: 37px;

}
.benefits_card-thumb{
    display: block;
}
.benefits_card-title{
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 26px;
}
.benefits_card-desc{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 39px;
}
.benefits_card-more {
    display: inline-block;
    padding-right: 59px ;
    color: #006DFE;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
    background: url("/img/arrow-right-ico.svg") no-repeat 95% center;
    transition: .2s all ;
}
.benefits_card-more:hover, .benefits_card-more:focus{
    background: url("/img/arrow-right-ico.svg") no-repeat right center;
}
/*benefits styles and*/

/*places styles start */
.places{
    margin-bottom:131px ;
}
.places_caption{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;/*развести по концам блока*/
    margin-bottom: 36px;
}
.places_title{
    margin-right: 15px;
}

.places_view-all{
    color: #006DFE;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
    padding-right: 59px ;
    background: url("/img/arrow-right-ico.svg") no-repeat right center;

}
.places_view-all:hover, .places_view-all:focus{
    opacity: 0.65;
}
.places_cards{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-gap: 10px;
}
.places_card{
    position: relative;
    overflow: hidden;
}
.places_card::after{
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(21, 24, 36, 0.40);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

}
.places_card:hover .places_card-pic{
    transform: scale(1.05);
}

.places_card-title{
    font-size: 50px;
    line-height: 60px;
    color: #FFFFFF;
    position: absolute;
    bottom: 27px;
    left: 29px;
    z-index: 3;

}
.places_card_size-lg {
    grid-column: span 3;
}
.places_card_size-sm {
    grid-column: span 2;
}
.places_card-pic{
    width: 100%;
    transition: 0.15s all;
}
.places_card-pic_size-lg {
    height: 354px;
    object-fit: cover;
}
.places_card-pic_size-sm{
    height: 283px;
    object-fit: cover;
}

.places_card_link{
    position: absolute;
    top: 0 ;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
}
/*places styles and*/
/*Tours styles start*/
.tours{
    margin-bottom: 139px;
}
.tours_tour {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 108px ;
    align-items: center;
    margin-bottom: 77px;
}
.tour_info{
    padding-left: 47px;
}
.tour_title{
    font-size: 30px;
    font-weight: 500;
    line-height: 40px;
    margin-bottom: 85px;
}
.tour_desc{
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 58px;
}
.tour_more{
    color: #006DFE;
    font-size: 16px;
    text-decoration: none;
    padding-right: 59px ;
    background: url("/img/arrow-right-ico.svg") no-repeat right center;
}
.tour_more:hover, .tour_more:focus{
    opacity: 0.65;
}
/*Tours styles end */

/*Top places start*/

.top{
    margin-bottom: 86px;
}
.top_title{
    margin-bottom: 54px;
}
.top_cards{
    display: grid;
    grid-template-columns: repeat(3,1fr) ;
    grid-gap: 57px;
}
.top_card{
    display: flex;
    flex-direction: column;

}
.top_card-pic{
    position: relative;
    margin-bottom: 45px;
}

.top_card-stats{
    display: flex;
    flex-wrap: wrap ;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(21, 24, 36, 0.60);
    padding: 16px 25px;
}
.top_card-title{
    color: #FFF;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    margin: 0 auto 0 0 ;
}
.top_card-likes{
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    padding-right: 20px;
    background: url("/img/heart-ico.svg") no-repeat right;
    margin-right: 14px;
}
.top_card-comments{
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    padding-right: 23px;
    background: url("/img/coment-ico.svg") no-repeat right;
}
.top_card_desk{
    color: #102746;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 31px;
}
.top_card-more{
    width: 118px;
    color: #FFFFFF;
    padding: 12px 19px;
    background: #006DFE;
    text-decoration: none;
    font-size: 16px;
    margin: auto 0 0 0;
}
.top_card-more:hover,.top_card-more:focus,.top_card-more:active{
    background: #136de5;

}
/*Top places end*/
/*video start */
.videos{
    width: 100%;
}
.videos_wrapper{
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
}
.video_item{
    padding-top: 56.25%;
}
.video_element{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
/*video end*/
/*footer styles start*/
.footer{
    background: #0E1D28;
    padding: 119px 0;
}
.footer_item{
    display: flex;
    flex-wrap: wrap;
}
.footer_logo{
    width: 50%;
}
.footer_nav{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer_menu-title{
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
}
.footer_menu-link{
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
}
.footer_menu-link:hover, .footer_menu-link:focus, .footer_menu-link:active{
    opacity: 0.75;
}
/*footer stales end*/